:root {
  --primary-color: hsl(214, 84%, 56%);
  --text-color: hsl(0, 0%, 31%);
  --bg-color: hsl(0, 0%, 90%);
  --bg-card-color: hsl(0, 0%, 98%);
  --border-radius: 0.4em;
  --transition: color 0.2s, background-color 0.3s ease-in-out;
  --skills-bar-length: 0%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  /* Elimina la decoración por defecto del elemento <a> */
  color: var(--primary-color);
  /* --primary-color: hsl(214, 84%, 56%) */
}

img {
  max-width: 100%;
  /* max-width define el ancho máximo que un elemento puede tener */
  display: block;
  /*
  <img> por defecto es 'inline-block' al modificarlo a 'block' ocupa todo el ancho del 
  contenedor padre. De manera predeterminada, el contenido de un elemento de nivel de 
  bloque es el 100% del ancho de su elemento padre y su altura viene determinada por 
  su contenido.
  */
}

body {
  margin: 0 auto;
  max-width: 1200px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
  font-family: sans-serif;
}

body.dark {
  --text-color: hsl(0, 0%, 83%);
  --bg-color: hsl(0, 0%, 15%);
  --bg-card-color: hsl(0, 0%, 20%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 2em 0 2em;
  height: 75px;
  padding: 0 1.5em;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2em 1em 2em;
  height: 75px;
  padding: 0 1.5em;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.switches {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggle-theme__icon {
  margin-right: 0.5em;
  width: 20px;
}

.toggle-theme__text {
  font-size: 0.8rem;
}

.colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 80px;
}

.colors__item {
  width: 15px;
  height: 15px;
  border: 1px solid var(--text-color);
  cursor: pointer;
}

.colors__item--blue {
  background-color: hsl(214, 84%, 56%);
}

.colors__item--green {
  background-color: hsl(150, 84%, 56%);
}

.colors__item--purple {
  background-color: hsl(276, 84%, 56%);
}

.colors__item--orange {
  background-color: hsl(30, 84%, 56%);
}

.title {
  text-align: center;
  color: var(--primary-color);
  transition: var(--transition);
}

.main {
  display: grid;
  gap: 0.5em;
  padding: 2em;
  grid-template-columns: minmax(auto-fill, 280px) minmax(auto-fill, 1fr);
}

@media screen and (min-width: 768px) {
  .main {
    grid-template-columns: fit-content(280px) 1fr;
  }
}

.column {
  display: grid;
  gap: 0.5em;
}

.column--left {
}

.column--right {
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  grid-auto-rows: max-content;
  align-items: start;
}

.card {
  padding: 1em;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
}

.lineal--card {
  display: grid;
  justify-content: start;
  grid-template-columns: minmax(auto, 1fr);
  grid-column: 1 / -1;
  align-items: start;
}

.card--project {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
}

@media screen and (min-width: 1024px) {
  .card--project {
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr minmax(auto, 2fr);
    grid-column: 1 / -1;
  }
}

.card__flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, 80px);
  grid-auto-rows: 100px;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  gap: 1em;
  /*Espaciado de las imagenes*/
}

@media screen and (min-width: 270px) and (max-width: 639px) {
  .card__flex {
    grid-template-columns: repeat(auto-fit, 40px);
    grid-auto-rows: 80px;
    justify-content: space-around;
    gap: 0.5em;
    /*Espaciado de las imagenes*/
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .card__flex {
    grid-template-columns: repeat(auto-fit, 50px);
    grid-auto-rows: 80px;
    justify-content: space-around;
    gap: 0.5em;
    /*Espaciado de las imagenes*/
  }
}

.card__image {
  width: 250px;
  object-fit: contain;
}

.card__image-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.card__image-containerA {
  display: flex;
  justify-content: center;
  padding: 1em;
  max-width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.card__image-containerB {
  width: 100%;
  height: 100px;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.card__image-containerB:hover {
  transform: scale(1.1);
}

.card__header {
  padding: 1em 0;
}

.card__title {
  margin-bottom: 1em;
  font-size: 1.2em;
}

.card__title-A {
  display: flex;
  margin-bottom: 1em;
  font-size: 1.2em;
  justify-content: center;
}

.card__subtitle {
  font-size: 0.9rem;
  opacity: 0.8;
}

.card__link {
  margin-bottom: 0.5em;
}

.card-mailto {
  font-size: 0.9rem;
}

.card__text {
  font-size: 0.9em;
  line-height: 1.6;
}

.project__tags {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  font-size: 0.6rem;
  padding-top: 1em;
}

@media screen and (min-width: 768px) {
  .project__tags {
    width: 100%;
    font-size: 0.8rem;
  }
}

.project__tag {
  padding: 0.4em 0.8em;
  margin: 0.5em;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  transition: var(--transition);
  color: var(--bg-color);
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}

.skill__tech {
  margin: 0;
  font-size: 0.8rem;
}

.skills__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
  width: 300px;
}

.skills__bar,
.skills__bar::after {
  position: relative;
  width: 175px;
  height: 8px;
  background-color: #888;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.skills__bar::after {
  content: '';
  position: absolute;
  left: -175px;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  transition: var(--transition);
  animation: skills-bar-fill 2s ease-in-out forwards;
}

.skills__bar--10::after {
  --skill-bar-length: 10%;
}

.skills__bar--20::after {
  --skill-bar-length: 20%;
}

.skills__bar--30::after {
  --skill-bar-length: 30%;
}

.skills__bar--40::after {
  --skill-bar-length: 40%;
}

.skills__bar--50::after {
  --skill-bar-length: 50%;
}

.skills__bar--60::after {
  --skill-bar-length: 60%;
}

.skills__bar--70::after {
  --skill-bar-length: 70%;
}

.skills__bar--80::after {
  --skill-bar-length: 80%;
}

.skills__bar--90::after {
  --skill-bar-length: 90%;
}

.experience {
  display: flex;
  align-items: start;
  margin-bottom: 1em;
  padding: 1em;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.experience__image {
  max-width: 25px;
  margin-right: 1em;
}

.experience__image--header {
  max-width: 100px;
  margin-right: 1em;
}

.rrss__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__image {
  max-width: 25px;
  margin: 0 0.5em;
}

.experience__time {
  font-size: 0.8rem;
  margin-bottom: 0.5em;
}

.experience__job {
  margin: 0;
  margin-bottom: 0.5em;
  color: var(--primary-color);
  transition: var(--transition);
}

.experience__description {
  font-size: 0.8rem;
  margin-bottom: 1.5em;
}

.project {
  position: relative;
}

@media screen and (min-width: 768px) {
  .project {
    padding-top: 2em;
  }
}

.buttons {
  display: flex;
  justify-content: center;
}

.button {
  width: 80px;
  line-height: 2.5;
  text-align: center;
  margin: 0 1em;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.button--primary {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.button--ghost {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.icon {
  margin-right: 1em;
}

.no__margin {
  margin: 0;
}

.hobbie__title {
  color: var(--primary-color);
  transition: var(--transition);
}

@keyframes skills-bar-fill {
  to {
    transform: translateX(var(--skill-bar-length));
  }
}
